.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
